@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #13c48d;
  background: black
}

::-webkit-scrollbar {
  width: 1rem;
  padding-top: 4rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(18, 38, 67);
}